@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    nav{
        @apply mobile:hidden;
    }
    nav a{
        @apply py-1
    }

    nav a:nth-last-child(1):hover{
        @apply bg-neutral text-dark;
    }
    .nav-link {
        @apply relative;
    }
    
    .nav-link::before {
        @apply bg-red content-[''] absolute w-full h-[4px] rounded-lg left-0 bottom-0 origin-right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }
    
    .nav-link:hover::before {
        @apply origin-left;
        transform: scaleX(1);
    }

}